<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
        <h1>Home2</h1>
        <div class="homebuttons">
            <a href="/home" nbButton>Home1</a>
            <a href="/icons" nbButton>Icons</a>
            <a href="/spinner" nbButton>Spinner</a>


        </div>
    </nb-layout-header>

    <nb-layout-column>

        <!------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body>
                This is the second home with more Nebular Components.
            </nb-card-body>
        </nb-card>

        <!------------------------------------------------------------------------------------------------------->

    </nb-layout-column>

    <nb-layout-footer fixed>
        <h6>Created By Aman Sarosh and Styled With Nebula</h6>
    </nb-layout-footer>
</nb-layout>