<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
        <h1>Cards</h1>
        <div class="homebuttons">
        <a href="/home" nbButton>Home</a>
        <a href="/stepper" nbButton>stepper</a>
        <a href="/accordion" nbButton>accordion</a>
        <a href="/list" nbButton>List</a>
        <a href="/sidebar" nbButton>Sidebar</a>
        <a href="/tabs" nbButton>Tabs</a>
        <a href="/input" nbButton>Input</a>
        <a href="/checkbox" nbButton>Checkbox</a>
        <a href="/radio" nbButton>Radio</a>
        <a href="/select" nbButton>Select</a>
        <a href="/profile" nbButton>Profile</a>
        <a href="/toast" nbButton>Toastr</a>
        <a href="/search" nbButton>Search</a>
        <a href="/alert" nbButton>Alert</a>
        
        </div>
    </nb-layout-header>

    <nb-layout-column>

        <h6 class='normal'>Normal Card</h6>
        <nb-card>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
        </nb-card>

        <!---------------------------------------------------------------------------------------------------------->
        <nb-card>
            <nb-card-header>Cards With Wikipedia Footer</nb-card-header>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
            <nb-card-footer>By Wikipedia</nb-card-footer>
        </nb-card>

        <!---------------------------------------------------------------------------------------------------------->

        <nb-card status="success">
            <nb-card-header>Cards With Wikipedia Footer</nb-card-header>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
            <nb-card-footer>By Wikipedia</nb-card-footer>
        </nb-card>

        <nb-card status="danger">
            <nb-card-header>Cards With Wikipedia Footer</nb-card-header>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
            <nb-card-footer>By Wikipedia</nb-card-footer>
        </nb-card>
        <hr />
        <!---------------------------------------------------------------------------------------------------------->

        <nb-card accent="info">
            <nb-card-header>Cards with Stroke On Top</nb-card-header>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
        </nb-card>

        <nb-card accent="danger">
            <nb-card-header>Cards with Stroke On Top</nb-card-header>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
        </nb-card>

        <!---------------------------------------------------------------------------------------------------------->
        <nb-card accent="primary" status="warning">
            <nb-card-header>Cards with Color Fill/Outline</nb-card-header>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
        </nb-card>

        <!---------------------------------------------------------------------------------------------------------->
        <nb-card accent="primary" status="info">
            <nb-card-header>Cards with Color Fill/Outline</nb-card-header>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
        </nb-card>

        <!---------------------------------------------------------------------------------------------------------->

        <nb-card accent="primary" status="success">
            <nb-card-header>Cards with Color Fill/Outline</nb-card-header>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
        </nb-card>

        <!---------------------------------------------------------------------------------------------------------->
        <h6>Flip Card Below</h6>
        <nb-flip-card>
            <nb-card-front>
                <nb-card accent="danger">
                    <nb-card-body>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                        Originally, nebula was a name for
                        any diffuse astronomical object,
                        including galaxies beyond the Milky Way.
                    </nb-card-body>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card accent="success">
                    <nb-card-body>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                        Originally, nebula was a name for
                        any diffuse astronomical object,
                        including galaxies beyond the Milky Way.
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-flip-card>

        <!---------------------------------------------------------------------------------------------------------->

        <nb-reveal-card>
            <nb-card-front>
                <nb-card accent="success">
                    <nb-card-header>Front Card Header</nb-card-header>
                    <nb-card-body>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                        Originally, nebula was a name for
                        any diffuse astronomical object,
                        including galaxies beyond the Milky Way.
                    </nb-card-body>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card accent="primary">
                    <nb-card-header>Back Card Header</nb-card-header>
                    <nb-card-body>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                        Originally, nebula was a name for
                        any diffuse astronomical object,
                        including galaxies beyond the Milky Way.
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>

        <!---------------------------------------------------------------------------------------------------------->

    </nb-layout-column>

    <nb-layout-footer fixed>
        <h6>Created By Aman Sarosh and Styled With Nebula</h6>
    </nb-layout-footer>

</nb-layout>