<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
        <h1>Chat</h1>
        <div class="homebuttons">
            <a href="/home" nbButton>Home1</a>
            <a href="/icons" nbButton>Icons</a>
            <a href="/spinner" nbButton>Spinner</a>
            <a href="/calendar" nbButton>Calendar</a>
            <a href="/tree" nbButton>Tree</a>
            
        </div>
    </nb-layout-header>

    <nb-layout-column>

        <!------------------------------------------------------------------------------------------------------->

        <nb-chat title="Aman Sarosh" size="medium" status="success">
            <nb-chat-message *ngFor="let message of messages" [type]="message.type" [message]="message.text"
                [reply]="message.reply" [sender]="message.user.name" [date]="message.date" [files]="message.files"
                [quote]="message.quote" [avatar]="message.user.avatar"></nb-chat-message>
            <nb-chat-form
                (send)="sendMessage($event, 'Aman Sarosh', 'https://avatars0.githubusercontent.com/u/55336738?s=460&v=4', true)"
                [showButton]="true" [dropFiles]="true">
            </nb-chat-form>
        </nb-chat>
        <nb-chat title="Kylie Jenner" size="medium" status="danger">
            <nb-chat-message *ngFor="let message of messages" [type]="message.type" [message]="message.text"
                [reply]="!message.reply" [sender]="message.user.name" [date]="message.date" [files]="message.files"
                [quote]="message.quote" [avatar]="message.user.avatar"></nb-chat-message>
            <nb-chat-form
                (send)="sendMessage($event, 'Kylie Jenner', 'https://upload.wikimedia.org/wikipedia/commons/4/43/Kylie_Jenner2_%28cropped%29.png', false)"
                [showButton]="false" [dropFiles]="true">
            </nb-chat-form>
        </nb-chat>

        <!------------------------------------------------------------------------------------------------------->

    </nb-layout-column>

    <nb-layout-footer fixed>
        <h6>Created By Aman Sarosh and Styled With Nebula</h6>
    </nb-layout-footer>
</nb-layout>