<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
        <h1>Tabs</h1>
        <div class="homebuttons">
            <a href="/home" nbButton>Home</a>
            <a href="/cards" nbButton>Cards</a>
            <a href="/stepper" nbButton>stepper</a>
            <a href="/accordion" nbButton>accordion</a>
            <a href="/list" nbButton>List</a>
            <a href="/sidebar" nbButton>Sidebar</a>
            <a href="/input" nbButton>Input</a>
            <a href="/button" nbButton>Button</a>
            <a href="/checkbox" nbButton>Checkbox</a>
            <a href="/radio" nbButton>Radio</a>
            <a href="/select" nbButton>Select</a>

        </div>
    </nb-layout-header>

    <nb-layout-column>

        <!---------------------------------------------------------------------------------------------------------->
        <nb-card>
            <nb-card-body>

                <nb-tabset>
                    <nb-tab tabTitle="Users">
                        <p>List of <strong>users</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Orders">
                        <p>List of <strong>orders</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Transactions" disabled>
                        <p>List of <strong>transactions</strong>.</p>
                    </nb-tab>
                </nb-tabset>

            </nb-card-body>
        </nb-card>
        <!---------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body>

                <nb-tabset>
                    <nb-tab tabTitle="Users" badgeText="99+" badgeStatus="danger">
                        <p>List of <strong>users</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Orders" badgeText="12" badgePosition="bottom right" badgeStatus="warning">
                        <p>List of <strong>orders</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Transactions" badgeText="new" badgePosition="top right" badgeStatus="success">
                        <p>List of <strong>transactions</strong>.</p>
                    </nb-tab>
                </nb-tabset>

            </nb-card-body>
        </nb-card>

        <!---------------------------------------------------------------------------------------------------------->
        <nb-card>
            <nb-card-body>

                <nb-tabset fullWidth>
                    <nb-tab tabIcon="person-outline">
                        <p>List of <strong>users</strong>.</p>
                    </nb-tab>
                    <nb-tab tabIcon="bell-outline">
                        <p>List of <strong>orders</strong>.</p>
                    </nb-tab>
                    <nb-tab tabIcon="email-outline">
                        <p>List of <strong>transactions</strong>.</p>
                    </nb-tab>
                </nb-tabset>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>

                <nb-tabset fullWidth>
                    <nb-tab tabTitle="Users" tabIcon="person-outline" responsive>
                        <p>List of <strong>users</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Orders" tabIcon="bell-outline" responsive>
                        <p>List of <strong>orders</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Transactions" tabIcon="email-outline" responsive>
                        <p>List of <strong>transactions</strong>.</p>
                    </nb-tab>
                </nb-tabset>

            </nb-card-body>
        </nb-card>
        <!---------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body>

                <nb-actions size="medium">
                    <nb-action icon="search-outline"></nb-action>
                    <nb-action icon="power-outline"></nb-action>
                    <nb-action icon="person-outline"></nb-action>
                    <nb-action icon="home-outline"></nb-action>
                    <nb-action [icon]="disabledIconConfig" disabled></nb-action>
                    <nb-action>
                        Custom Action
                    </nb-action>
                </nb-actions>

            </nb-card-body>
        </nb-card>

        <!---------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body>

                <nb-actions size="medium">
                    <nb-action icon="search-outline" badgeText="99+" badgeStatus="danger">
                    </nb-action>
                    <nb-action icon="power-outline" badgeText="12" badgePosition="bottom right" badgeStatus="warning">
                    </nb-action>
                    <nb-action icon="person-outline" badgeText="M" badgePosition="top right" badgeStatus="info">
                    </nb-action>
                </nb-actions>

            </nb-card-body>
        </nb-card>
        <!---------------------------------------------------------------------------------------------------------->

    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>