<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
        <h1>Home</h1>
        <div class="homebuttons">
            <a (click)="onClick()" href="/cards" nbButton>Cards</a>
            <a (click)="onClick()" href="/stepper" nbButton>stepper</a>
            <a (click)="onClick()" href="/accordion" nbButton>accordion</a>
            <a (click)="onClick()" href="/list" nbButton>List</a>
        </div>
    </nb-layout-header>

    <nb-layout-column>

        <nb-card size="medium">
            <nb-card-header>
                List; Add Under
            </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let fruit of fruits">
                    {{ fruit }}
                </nb-list-item>
            </nb-list>
        </nb-card>


    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>