<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
        <h1>Input</h1>
        <div class="homebuttons">
            <a href="/home" nbButton>Home</a>
            <a href="/cards" nbButton>Cards</a>
            <a href="/stepper" nbButton>stepper</a>
            <a href="/accordion" nbButton>accordion</a>
            <a href="/list" nbButton>List</a>
            <a href="/sidebar" nbButton>Sidebar</a>
            <a href="/tabs" nbButton>Tabs</a>
            <a href="/button" nbButton>Button</a>
            <a href="/checkbox" nbButton>Checkbox</a>
            <a href="/radio" nbButton>Radio</a>
            <a href="/select" nbButton>Select</a>

        </div>
    </nb-layout-header>

    <nb-layout-column>

        <nb-card>
            <nb-card-body class="example-items-rows">
                <input type="text" nbInput placeholder="Text field">
                <input type="text" nbInput placeholder="Disabled Text field" disabled>
            </nb-card-body>
        </nb-card>

        <!-------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body class="example-items-col">
                <input type="text" nbInput fullWidth status="basic" placeholder="Default">
                <input type="text" nbInput fullWidth status="primary" placeholder="Primary">
                <input type="text" nbInput fullWidth status="info" placeholder="Info">
                <input type="text" nbInput fullWidth status="success" placeholder="Success">
                <input type="text" nbInput fullWidth status="warning" placeholder="Warning">
                <input type="text" nbInput fullWidth status="danger" placeholder="Danger">
                <div class="control-status-example">
                    <input type="text" nbInput fullWidth status="control" placeholder="Control">
                </div>
            </nb-card-body>
        </nb-card>
        <!-------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body class="example-items-col">
                <input type="text" nbInput fullWidth fieldSize="tiny" placeholder="Tiny">
                <input type="text" nbInput fullWidth fieldSize="small" placeholder="Small">
                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Medium">
                <input type="text" nbInput fullWidth fieldSize="large" placeholder="Large">
                <input type="text" nbInput fullWidth fieldSize="giant" placeholder="Giant">
            </nb-card-body>
        </nb-card>

        <!-------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body class="example-items-col">
                <input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle">
                <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi round">
                <input type="text" nbInput fullWidth shape="round" placeholder="Round">
            </nb-card-body>
        </nb-card>

        <!-------------------------------------------------------------------------------------------------------->



        <!-------------------------------------------------------------------------------------------------------->

    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>