nb-card-body.example-items-rows {
  align-items: center;
}

nb-checkbox:not(:only-child) {
  margin-right: 1.5rem;
}

button {
      display: block;
      margin-top: 1rem;
    }

    .example-items-rows {
      align-items: center;
    }