<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
        <h1>Checkbox</h1>
        <div class="homebuttons">
            <a href="/home" nbButton>Home</a>
            <a href="/cards" nbButton>Cards</a>
            <a href="/stepper" nbButton>stepper</a>
            <a href="/accordion" nbButton>accordion</a>
            <a href="/list" nbButton>List</a>
            <a href="/sidebar" nbButton>Sidebar</a>
            <a href="/tabs" nbButton>Tabs</a>
            <a href="/input" nbButton>Input</a>
            <a href="/button" nbButton>Button</a>
            <a href="/radio" nbButton>Radio</a>
            <a href="/select" nbButton>Select</a>

        </div>
    </nb-layout-header>

    <nb-layout-column>


        <nb-card>
            <nb-card-body>
                <nb-checkbox (checkedChange)="toggle($event)">Toggle me</nb-checkbox>
            </nb-card-body>
            <nb-card-body>
                <label>Checked:</label> {{ checked }}
            </nb-card-body>
        </nb-card>
        <!----------------------------------------------------------------------------------------------------->
        <nb-card>
            <nb-card-body class="example-items-rows">
                <nb-checkbox status="basic">Basic</nb-checkbox>
                <nb-checkbox status="primary">Primary</nb-checkbox>
                <nb-checkbox status="success">Success</nb-checkbox>
                <nb-checkbox status="danger">Danger</nb-checkbox>
                <nb-checkbox status="warning">Warning</nb-checkbox>
                <nb-checkbox status="info">Info</nb-checkbox>
                <div class="control-status-example">
                    <nb-checkbox status="control">Control</nb-checkbox>
                </div>
            </nb-card-body>
        </nb-card>
        <!----------------------------------------------------------------------------------------------------->
        <nb-card>
            <nb-card-body>
                <nb-checkbox indeterminate #checkbox>Indeterminate</nb-checkbox>

                <button *ngIf="!checkbox.indeterminate" nbButton size="small" (click)="checkbox.indeterminate = true">
                    Set indeterminate
                </button>
            </nb-card-body>
        </nb-card>


        <!----------------------------------------------------------------------------------------------------->
        <nb-card>
            <nb-card-body class="example-items-rows">
                <nb-checkbox disabled>Disabled</nb-checkbox>
                <nb-checkbox [checked]="true" indeterminate disabled>Indeterminate disabled</nb-checkbox>
                <nb-checkbox [checked]="true" disabled>Checked disabled</nb-checkbox>
            </nb-card-body>
        </nb-card>

        <!----------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body>
                <nb-toggle></nb-toggle>
            </nb-card-body>
        </nb-card>
        <!----------------------------------------------------------------------------------------------------->
        <nb-card>
            <nb-card-body class="example-items-rows">
                <nb-toggle status="basic">Basic</nb-toggle>
                <nb-toggle status="primary">Primary</nb-toggle>
                <nb-toggle status="success">Success</nb-toggle>
                <nb-toggle status="info">Info</nb-toggle>
                <nb-toggle status="warning">Warning</nb-toggle>
                <nb-toggle status="danger">Danger</nb-toggle>
                <div class="control-status-example">
                    <nb-toggle status="control">Control</nb-toggle>
                </div>
            </nb-card-body>
        </nb-card>


        <!----------------------------------------------------------------------------------------------------->
        <nb-card>
            <nb-card-body class="example-items-col">
                <nb-toggle disabled></nb-toggle>
                <nb-toggle [checked]="true" disabled></nb-toggle>
            </nb-card-body>
        </nb-card>

        <!----------------------------------------------------------------------------------------------------->
        <nb-card>
            <nb-card-body class="example-items-col">
                <nb-toggle labelPosition="start">Label Start</nb-toggle>
                <nb-toggle labelPosition="end">Label End</nb-toggle>
                <nb-toggle labelPosition="right">Label Right</nb-toggle>
                <nb-toggle labelPosition="left">Label Left</nb-toggle>
                <nb-toggle disabled>Label Default Disabled</nb-toggle>
            </nb-card-body>
        </nb-card>


        <!----------------------------------------------------------------------------------------------------->
        

        <!----------------------------------------------------------------------------------------------------->


    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>