<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
        <h1>Profile</h1>
        <div class="navbarprofile">
            <a href="/cards" nbButton>Cards</a>
            <a href="/stepper" nbButton>stepper</a>
            <a href="/accordion" nbButton>accordion</a>
            <a href="/list" nbButton>List</a>
            <a href="/sidebar" nbButton>Sidebar</a>
            <a href="/tabs" nbButton>Tabs</a>
            <a href="/input" nbButton>Input</a>
            <a href="/button" nbButton>Button</a>
            <a href="/checkbox" nbButton>Checkbox</a>
            <a href="/radio" nbButton>Radio</a>
            <a href="/select" nbButton>Select</a>
            <a href="/toast" nbButton>Toastr</a>
            <a href="/search" nbButton>Search</a>


        </div>
    </nb-layout-header>

    <nb-layout-column>

        <!------------------------------------------------------------------------------------------------------->

        <nb-layout-header>
            <nb-user name="Aman Sarosh" title="Full-Stack Developer" [nbContextMenu]="items"
                nbContextMenuTag="my-context-menu">
            </nb-user>
        </nb-layout-header>
        <br />

        <!------------------------------------------------------------------------------------------------------->
        <nb-card>
            <nb-card-body>

                <nb-user size="large" name="Aman Sarosh" title="Full-Stack Developer" badgeText="99+"
                    badgeStatus="success" badgePosition="bottom right">
                </nb-user>

            </nb-card-body>
        </nb-card>
        <!------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body>

                <nb-user size="tiny" name="Aman Sarosh" title="Full-Stack Developer" [showTitle]="false">
                </nb-user>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>

                <nb-user size="small" name="Aman Sarosh" title="Full-Stack Developer" [showTitle]="false">
                </nb-user>

            </nb-card-body>
        </nb-card>


        <nb-card>
            <nb-card-body>

                <nb-user size="medium" name="Aman Sarosh" title="Full-Stack Developer">
                </nb-user>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>

                <nb-user size="large" name="Aman Sarosh" title="Full-Stack Developer">
                </nb-user>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <nb-user size="giant" name="Aman Sarosh" title="Full-Stack Developer">
                </nb-user>
            </nb-card-body>
        </nb-card>

        <!------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body>

                <p>Only picture</p>
                <nb-user size="large" name="Aman Sarosh" title="Full-Stack Developer" onlyPicture>
                </nb-user>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>

                <p>Name hidden</p>
                <nb-user size="large" name="Aman Sarosh" title="Full-Stack Developer" showName=false>
                </nb-user>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>

                <p>Title hidden</p>
                <nb-user size="large" name="Aman Sarosh" title="Engineer" showTitle=false>
                </nb-user>

            </nb-card-body>
        </nb-card>

        <!------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body>

                <p>User avatar image set as link</p>
                <nb-user size="large" name="Aman Sarosh" title="Full-Stack Developer"
                    picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
                </nb-user>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>

                <p>User avatar image set as BASE64 string</p>
                <nb-user size="large" name="Aman Sarosh" title="Full-Stack Developer" [picture]="base64image">
                </nb-user>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>

                <p>User avatar image not set and showInitials disabled</p>
                <nb-user size="large" name="Aman Sarosh" title="Full-Stack Developer" showInitials=false>
                </nb-user>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>

                <p>User avatar with custom background color</p>
                <nb-user size="large" name="Aman Sarosh" title="Full-Stack Developer" color="green">
                </nb-user>

            </nb-card-body>
        </nb-card>

        <!------------------------------------------------------------------------------------------------------->

        <nb-card>
            <nb-card-body>
                <p>Rectangle</p>
                <nb-user shape="rectangle" name="Aman Sarosh" title="Full-Stack Developer"></nb-user>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <p>Semi-round</p>
                <nb-user shape="semi-round" name="Aman Sarosh" title="Full-Stack Developer"></nb-user>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <p>Round</p>
                <nb-user shape="round" name="Aman Sarosh" title="Full-Stack Developer"></nb-user>
            </nb-card-body>
        </nb-card>

        <!------------------------------------------------------------------------------------------------------->

        <nb-card>
            <button nbButton [nbContextMenu]="items" nbContextMenuTrigger="click">
                Click Mode
            </button>

            <button nbButton [nbContextMenu]="items" nbContextMenuTrigger="focus">
                Focus (Tab) Mode
            </button>

            <button nbButton [nbContextMenu]="items" nbContextMenuTrigger="hover">
                Hover Mode
            </button>
        </nb-card>

        <!------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------->


    </nb-layout-column>

    <nb-layout-footer fixed>
        <h6>Created By Aman Sarosh and Styled With Nebula</h6>
    </nb-layout-footer>

</nb-layout>