<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
        <h1>Home</h1>
        <div class="homebuttons">
            <a href="/cards" nbButton>Cards</a>
            <a href="/stepper" nbButton>stepper</a>
            <a href="/accordion" nbButton>accordion</a>
            <a href="/list" nbButton>List</a>
            <a href="/sidebar" nbButton>Sidebar</a>
            <a href="/tabs" nbButton>Tabs</a>
            <a href="/input" nbButton>Input</a>
            <a href="/button" nbButton>Button</a>
            <a href="/checkbox" nbButton>Checkbox</a>
            <a href="/radio" nbButton>Radio</a>
            <a href="/select" nbButton>Select</a>
            <a href="/profile" nbButton>Profile</a>
            

        </div>
    </nb-layout-header>

    <nb-layout-column>


        <nb-card>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
        </nb-card>


    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>